@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
  --dashboard: #d97706;
  --background: #e2e8f0;
  --font: white;
  --detal: #fcd34d;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-family: 'Oxygen', sans-serif;
}

.dashboard {
  background-color: var(--dashboard);
  display: flex;
  flex-direction: column;
}

h2 {
  align-self: center;
  color: var(--font);
}

h4 {
  margin: 0;
  padding: 10px 20px;
  color: var(--font);
  cursor: pointer;
}

h4:hover {
  background-color: var(--font);
  color: var(--dashboard)
}

h4:active {
    position: relative;
    top: 2px;
    right: 2px;
}

i {
  padding-right: 15px;
  cursor: pointer;
}

i:active {
  transform: rotate(10deg);
  transition: transform 0s linear;
}

.right {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.top {
  position: relative;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.4);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

form {
  width: 600px;
  padding: 30px 0px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

input {
  width: 30rem;
  height: 2em;
  border-radius: 10px;
  border: none;
  background-color: var(--background);
}

button {
  all: unset;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
  width: 10%;
  border-radius: 50%;
  padding: 20px;
}

.name1 {
  font-size: 1rem;
}

.info {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  top: -40px;
}

.img2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 20px;
}

.name2 {
  margin: 0;
  position: relative;
  top: -10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -20px;
}

.new, .share, .upload {
  padding: 10px 35px;
  border-radius: 40px;
  background-color: var(--detal);
  cursor: pointer;
}

.new:hover, .share:hover, .upload:hover {
  box-shadow: 7px 3px 7px rgba(0,0,0,0.4);
}

.new:active, .share:active, .upload:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: none;
}

.main {
  background-color: var(--background);
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.projects {
  padding: 20px;
}

.set {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project {
  background-color: var(--font);
  border-radius: 7px;
  padding: 5px 20px;
  border-left: 10px var(--detal) solid;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.4);
}

.project:hover {
  transform: scale(1.01);
}

.title {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 20px;
}

.message {
  font-size: 15px;
  color: grey;
  padding-top: 10px;
}

.icons-con {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.additional {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.Trending, .Announcements {
  margin-top: 20px;
}

.box {
  background-color: var(--font);
  border-radius: 7px;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.4);
}

.cont {
  padding: 5px 0px;
  border-bottom: 2px var(--background) solid;
}

.cont-2 {
  padding: 7px 0px;
}

.title-2 {
  font-weight: bold;
  font-size: 15px;
}

.message-2 {
  font-size: 13px;
  color: grey;
  padding-top: 5px;
}

.person {
  display: flex;
  padding-top: 7px;
}

.prof {
  width: 13%;
  border-radius: 50%;
  margin-left: 20px;
}

.only-for-flex {
  padding-left: 20px;
}
